{% extends 'base.html' %}

{% block content %}
<h1>Forum - <small><a href="{% url 'addForumPost' %}">Add Post</a></h1>

<!-- Display posts categorized as "General" -->
<h2>General</h2>
<ul>
  {% for post in general_posts %}
    <li>
      <a href="{% url 'forumDetail' post.pk %}">{{ post.title }}</a> - {{ post.author.username }}
      <br>{{ post.content|slice:"100"|safe }}
    </li>
  {% endfor %}
</ul>

<!-- Display posts categorized as "Educational" -->
<h2>Educational</h2>
<ul>
  {% for post in educational_posts %}
    <li>
      <a href="{% url 'forumDetail' post.pk %}">{{ post.title }}</a> - {{ post.author.username }}
      <br>{{ post.content|slice:"100"|safe }}
    </li>
  {% endfor %}
</ul>
{% endblock %}
