{% extends 'base.html' %}
{% block content %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author.username }} - {{ post.date }} - {{ total_likes }} Likes</small>
  
{% if request.user == post.author and not request.user.username == "guest" %}
    <small>
      <a href="{% url 'updatePost' post.pk %}">Edit</a>
      <a href="{% url 'deletePost' post.pk %}">Delete</a>
    </small>
{% endif %}
<hr>
<br>
{{ post.content|safe }}
<hr>
<form action="{% url 'likePosts' post.pk %}" method="POST">
  {% csrf_token %}
  {% if not request.user.username == "guest" %}
    {% if liked %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button> 
    {% else %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>  
    {% endif %}
  {% else %}
    <small><a href="{% url 'login' %}">Login</a> to like.</small>
  {% endif %}
</form>

<br>
<hr>

<h2>Comments...</h2>
{% if post.comments.all %}
  {% for comment in post.comments.all %}
    <strong>{{ comment.author.username }} - {{ comment.date }}</strong>
    <br>
    {{ comment.content }}
    <br><br>
  {% endfor %}
{% else %}
  <p>No comments...</p>
{% endif %}
<br>
{% if not request.user.username == "guest" %}
  <a href="{% url 'addComment' post.pk %}" class="btn btn-primary btn-sm">Add a comment</a>
{% else %}
  <small><a href="{% url 'login' %}">Login</a> to add a comment.</small>
{% endif %}

{% endblock %}
