{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/weatherApp.css' %}">

<div class="container weather-app">
    <div class="card">
        <div class="search-box">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Enter your location">
            <button class="fa-solid fa-magnifying-glass"></button>
        </div>

        <div class="not-found">
            <img src="{% static 'blog/images/404.png' %}">
            <p>Oops! Invalid location :/</p>
        </div>

        <div class="weather-box" style="display: none;">
            <img src="" id="weatherIcon">
            <p class="temperature" id="temperature"></p>
            <p class="description" id="weatherDescription"></p>
        </div>

        <div class="weather-details" style="display: none;">
            <div class="humidity">
                <i class="fa-solid fa-water"></i>
                <div class="text">
                    <span id="humidity"></span>
                    <p>Humidity</p>
                </div>
            </div>
            <div class="wind">
                <i class="fa-solid fa-wind"></i>
                <div class="text">
                    <span id="windSpeed"></span>
                    <p> Wind Speed</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
<script src="{% static 'blog/weatherApp.js' %}"></script>
{% endblock %}
