<nav class="navbar navbar-expand-lg bg-body-tertiary">
   <div class="container-fluid">
     <a class="navbar-brand">Eyes on the Unseen</a>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Blog
           </a>
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="{% url 'index' %}">View Blog</a></li>
             <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="{% url 'addPost' %}">Add Blog Post</a></li>
           </ul>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Forum
           </a>
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="{% url 'forum' %}">View Forum</a></li>
             <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="{% url 'addForumPost' %}">Add Forum Post</a></li>
           </ul>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{% url 'news' %}">News</a>
         </li>
         {% if request.user.username == "guest" %}
           <li class="nav-item">
             <a class="nav-link" href="{% url 'signUp' %}">Sign Up</a>
           </li>
         {% else %}
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Account
           </a>
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
             <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
             <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
           </ul>
         </li>
         {% endif %}
       </ul>
     </div>
   </div>
</nav>
