{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'blog/countries.css' %}">
    <title>Article on Palestine</title>
</head>
<body>
    {% if not has_access %}
    <!-- Access Denied Modal -->
    <div class="modal fade" id="accessDeniedModal" tabindex="-1" role="dialog" aria-labelledby="accessDeniedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accessDeniedModalLabel">Access Denied</h5>
                </div>
                <div class="modal-body">
                    Members only content, please sign up <a href="{% url 'signUp' %}">here</a> to view this page.
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <header class="page-header">
            <h1>{{ content.0.title }}</h1>
            <h5>By: {{ content.0.author }}</h5>
        </header>
        <div class="row">
            <div class="col-lg-8">
                <p>{{ content.0.description|linebreaks }}</p>
            </div>
            <div class="col-lg-4">
                <img src="data:image/png;base64,{{ image_base64 }}" alt="Population Chart" class="img-fluid population-chart">
                <h6>Population of Palestine</h6>
            </div>
            
        </div>
        <!-- Return Button -->
        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'news' %}" class="btn btn-primary">Return to News</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
       $(document).ready(function() {
         $('#accessDeniedModal').modal({
           backdrop: 'static',
           keyboard: false
         });
         $('#accessDeniedModal').modal('show');
       });
    </script>
</body>
</html>
{% endblock %}
