{% extends 'base.html' %}
{% block content %}
<html>
<head>
 <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

  <!-- this is the modal which pops up when the page renders as non users are not allowed to read article content -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is a demo modal.
        </div>
        <div class="modal-footer">
            <p><a href="#">This link</a> and <a href="#">that link</a> have tooltips on hover.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#exampleModalCenter').modal('show'); // Trigger the modal on page load
    });
  </script>
  
  <p>Population of Russia</p> 
  <img src="data:image/png;base64,{{ image_base64 }}" alt="Population Chart" width=500 height=auto />
        
  <!-- display news content -->
  <h2>{{ content.0.title }}</h2>
  <h5>{{ content.0.author }}</h5>
  <p>{{ content.0.description }}</p>
</body>
</html>
{% endblock %}
