.form-group {
    padding: 20px;
    margin: 20px auto; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: var(--background-color);
    width: 90%; 
    max-width: 600px; 
}


.success-message {
    color: green;
    display: none;
}

.error-message {
    color: red;
    display: none;
}

h2 {
    padding-top: 20px;
    color: var(--text-color);
    text-align: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

