body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.page-header {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--accent-color) 100%);
    color: var(--background-color);
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 40px;
}

h5 {
    color: var(--background-color);
    font-size: 19px;
    font-weight: 400;
    padding-top: 5px;
    font-style: italic;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

h6 {
    text-align: center;
    padding-top: 10px;
}

img.img-fluid.population-chart {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.container {
    max-width: 95%;
    background: var(--background-color);
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.modal-backdrop {
    opacity: 0.1;
}

.modal-title {
    color: red;  /* Set the text color to red */
    font-weight: bold;  /* Make the text bold */
    text-align: center;
}


.modal-footer {
    padding-top: 45px;
}


