@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
    box-sizing: border-box;
}

:root {
    --primary-color: #0A192F;
    --secondary-color: #112D4E;
    --accent-color: #3F72AF;
    --background-color: #F9F7F7;
    --text-color: #333333;
}

/* Navbar Styling */
nav {
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 20px;
    font-weight: 400;
    color: var(--background-color);
    padding-left: 25px;
}

.navbar-nav .nav-link {
    color: var(--background-color);
    padding: 10px 15px; /* Adjust the values as needed */
}

.nav-item {
    padding-right: 20px;
}

.navbar-brand:hover {
    color: var(--background-color); /* Maintain the same color when hovered over */
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

/* Define your custom color */
.custom-navbar-bg {
    background-color: var(--primary-color);
}

/* Map styles */
#map {
    height: 550px;
}

.map-heading {
    text-align: center;
    margin-bottom: 20px;
}

.map-heading h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
    padding-top: 20px;
}

body {
    background-color: var(--background-color);
}
