@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
    box-sizing: border-box;
}

:root {
    --first-color: #B8BAE2;
    --second-color: #4046BC;
    --third-color: blue;
    --text-color: #fff;
    --bg-color: #fff;
}

.modal-backdrop {
    opacity: 0.5; 
}

/* Navbar Styling */
nav {
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-nav .nav-link:hover {
    color: var(--first-color);
}

/* Define your custom color */
.custom-navbar-bg {
    background-color: #007bff;
}

/* Map styles */
#map {
    height: 550px; 
}

.map-heading {
    text-align: center;
    margin-bottom: 20px;
}

.map-heading h1 {
    font-size: 32px;
    font-weight: 600;
    color: var(--third-color);
    margin-bottom: 10px;
    padding-top: 20px;
}

